@import "./variaveis/variables.scss";
// default
img{
    width: 100%;
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body{
    width: 100%;
}

.f-title{
    font-family: $headings-font;
    font-size: 1.5rem;
    font-weight: 700;
}

.f-body{
    font-family: $standard-font;
    font-size: 1rem;
    font-weight: 400;
}

// header & nav
.c-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    .c-header__logo{
        width: 100px;
    }

    .c-navbar__items{
        display: flex;
        align-items: center;
        justify-content: space-between;

        a{
            font-size: 0.8rem;
            font-weight: 400;
            margin: 0px 8px;
            color: $primary-color1;

            &:hover{
                text-decoration: underline;
                color: $primary-color2;
            }
        }
    }
}

