@import "./variaveis/variables.scss";
// default
img{
    width: 100%;
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100%;
}

.f-title{
    font-family: $headings-font;
}

.f-body{
    font-family: $standard-font;
}