@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');


// colors
$primary-color1: #070439;
$primary-color2: #585989;

$accent-color1: #3065f8;
$accent-color2: #3c9f8f;

$neutral-color1: #f6f6fe;
$neutral-color2: #bfbfbf;

// fonts
$headings-font: 'Raleway', sans-serif;
$standard-font: 'Open Sans', sans-serif;