@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');


// colors
$primary-color1: rgb(7, 4, 57);
$primary-color2: rgb(88, 89, 137);

$accent-color1: rgb(48, 101, 248);
$accent-color2: rgb(60, 159, 143);

$neutral-color1: rgb(246, 246, 254);
$neutral-color2: rgb(191, 191, 191);

// fonts
$headings-font: 'Raleway', sans-serif;
$standard-font: 'Open Sans', sans-serif;